@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply cursor-custom;
    background: #0f172a;
    overflow: hidden;
    font-family: "Barlow Condensed", sans-serif;
  }
}
.star {
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 2px;
  background-color: white;
  z-index: 100;
}

::selection {
  color: transparent;
}
button {
  cursor: inherit;
}

.click-effect {
  position: fixed;
  top: -0.5vw;
  left: -0.5vw;
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  border: 0.001vw solid #ffffff40;
  pointer-events: none;
  animation: mouse-effect 0.3s forwards ease-out;
  z-index: 1000;
}
@media screen and(max-width:640px) {
  .click-effect {
  top: -1.5vw;
  left: -1.5vw;
  height: 3vw;
  width: 3vw;
}
}

@keyframes mouse-effect {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0.5;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.gamecard {
  background: linear-gradient(
    235deg,
    #e6be19 0%,
    #b3e888 39.73%,
    #e5c010 69.31%,
    #af6f01 100%
  );
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}

.gamecard::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background: conic-gradient(
    from -45deg at 50% 50%,
    #2ffaff 0deg,
    rgba(230, 190, 25, 0) 36.310283839702606deg,
    rgba(230, 190, 25, 0) 143.74402284622192deg,
    #2ffaff 180deg,
    rgba(230, 190, 25, 0) 217.69761085510254deg,
    rgba(230, 190, 25, 0) 324.59312438964844deg
  );
  animation: rotate 2s linear infinite;
  filter: blur(1.5px);
}

.gamecard::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: linear-gradient(
    235deg,
    #e6be19 0%,
    #b3e888 39.73%,
    #e5c010 69.31%,
    #af6f01 100%
  );
  border-radius: 5px;
  z-index: -1;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.animate-popup {
  animation: popup 0.3s ease-in;
}
input:focus::placeholder {
  opacity: 0;
}
.progress {
  background: transparent;
}
.progress::-webkit-progress-bar {
  background: transparent;
}
.progress::-webkit-progress-value {
  background: linear-gradient(
      180deg,
      #25bbfd 0%,
      rgba(34, 227, 252, 0.75) 28%,
      rgba(50, 169, 250, 0.07) 72%,
      #3ff6ff 100%
    ),
    #31a1fa;
  border-radius: 2vw;
}

.progress::-moz-progress-value {
  background: transparent;
}

.progress::-moz-progress-bar {
  background: transparent;
  background: linear-gradient(
      180deg,
      #25bbfd 0%,
      rgba(34, 227, 252, 0.75) 28%,
      rgba(50, 169, 250, 0.07) 72%,
      #3ff6ff 100%
    ),
    #31a1fa;
  border-radius: 2vw;
}

.spin-loader {
  svg {
    width: 6vw;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  circle {
    fill: none;
    stroke: url(#gradient);
    stroke-width: 4;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 2vw;
  background: linear-gradient(180deg, #6e33c3 0%, #4417ac 100%);
  position: relative;
  border: solid 0.2vw #25bbfd;
  z-index: 1;
}
#music::-webkit-slider-thumb {
  background: url("/music.svg") no-repeat center center;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  cursor: pointer;
  border: none;
  position: relative;
}
#music::-moz-range-thumb {
  background: url("/music.svg") no-repeat center center;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  cursor: pointer;
  border: none;
  position: relative;
}

#sound::-webkit-slider-thumb {
  background: url("/sound.svg") no-repeat center center;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  cursor: pointer;
  border: none;
  position: relative;
}
#sound::-moz-range-thumb {
  background: url("/sound.svg") no-repeat center center;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  cursor: pointer;
  border: none;
  position: relative;
}

#gameLoader::-webkit-slider-thumb {
  background: url("/favicon.png") no-repeat center center;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  cursor: pointer;
  border: none;
  position: relative;
}
#gameLoader::-moz-range-thumb {
  background: url("/favicon.png") no-repeat center center;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  cursor: pointer;
  border: none;
  position: relative;
}
@media screen and (max-width: 640px) {
  #music::-webkit-slider-thumb {
    width: 7vw;
    height: 7vw;
  }
  #sound::-webkit-slider-thumb {
    width: 7vw;
    height: 7vw;
  }
  #music::-moz-range-thumb {
    width: 9vw;
    height: 9vw;
  }
  #sound::-moz-range-thumb {
    width: 9vw;
    height: 9vw;
  }
  #gameLoader::-moz-range-thumb {
    width: 12vw;
    height: 12vw;
  }
  #gameLoader::-webkit-slider-thumb {
    width: 8vw;
    height: 8vw;
  }
}
.modal-title {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  padding: 0 1vw;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffe600 50.05%,
    #ce3313 83.77%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font: transparent;
  -webkit-text-stroke: 0.1vw #f86e02;
}
/* 
@property --blink-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@keyframes blink-animation {
  0%,
  100% {
    opacity: var(--blink-opacity, 1);
  }
  50% {
    opacity: 0;
  }
}

@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
} */

:root {
  font-family: Barlow Condensed, sans-serif;
}

/* .wave-bg {
  --stripes: repeating-linear-gradient(
    100deg,
    #fff 0%,
    #fff 7%,
    transparent 10%,
    transparent 12%,
    #fff 16%
  );

  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fae1 10%,
    #e879f9b9 15%,
    #60a5faa9 20%,
    #5eead5be 25%,
    #60a5fabb 30%
  );

  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: blur(5px) invert(20%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
}
.wave-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: smoothBg 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
} */

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.text-stroke-3 {
  -webkit-text-stroke: 0.15vw #ff0302;
}
.stroke {
  -webkit-text-stroke: 0.1vw #000;
}

.slideIn {
  animation: slidein 0.5s ease-in-out;
}

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slideOut {
  animation: slidein 0.5s ease-in-out;
}

@media (max-width: 640px) {
  #gameLoader::-webkit-slider-thumb {
    width: 11vw;
    height: 11vw;
  }
}

.rotatestar {
  animation: rotatestar 3s infinite ease-in-out;
}

@keyframes rotatestar {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.gameLoaderBg {
  background: radial-gradient(
      66.22% 84.24% at 50.02% 112.89%,
      #ff70ff 0%,
      #a84aa8 34%,
      #000 100%
    ),
    radial-gradient(
      103.47% 74.35% at 67.89% -54.84%,
      #00d1ff 0%,
      #0073a7 27%,
      #04628f 36%,
      #0c4161 57%,
      #122a3f 75%,
      #161b2a 90%,
      #171623 100%
    );
  background-blend-mode: color-dodge, normal;
}
