@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url("/cursor.svg"), auto;
  background: #000;
  overflow: hidden;
  font-family: sans-serif;
}

button {
  cursor: inherit;
}

.click-effect {
  position: fixed;
  top: -15px;
  left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff40;
  pointer-events: none;
  animation: mouse-effect 0.3s forwards ease-out;
  z-index: 1000;
}

@keyframes mouse-effect {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.gamecard {
  background: linear-gradient(
    235deg,
    #e6be19 0%,
    #b3e888 39.73%,
    #e5c010 69.31%,
    #af6f01 100%
  );
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}

.gamecard::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background: conic-gradient(
    from -45deg at 50% 50%,
    #2ffaff 0deg,
    rgba(230, 190, 25, 0) 36.310283839702606deg,
    rgba(230, 190, 25, 0) 143.74402284622192deg,
    #2ffaff 180deg,
    rgba(230, 190, 25, 0) 217.69761085510254deg,
    rgba(230, 190, 25, 0) 324.59312438964844deg
  );
  animation: rotate 2s linear infinite;
  filter: blur(1.5px);
}

.gamecard::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: linear-gradient(
    235deg,
    #e6be19 0%,
    #b3e888 39.73%,
    #e5c010 69.31%,
    #af6f01 100%
  );
  border-radius: 5px;
  z-index: -1;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.animate-popup {
  animation: popup 0.3s ease-in;
}
input:focus::placeholder {
  opacity: 0;
}

.animated {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  overflow: hidden;
}
.wrapper div {
  position: absolute;
  filter: blur(50px);
  opacity: 0.8;
  -webkit-filter: blur(50px);
}
.animated .one {
  border-radius: 100%;
  width: 50%;
  height: 80%;
  background-color: #b886e950;
  left: 30%;
  top: 10%;
  z-index: 3;
  animation: fly 12s linear infinite;
  transform: rotate(0) translate(80px) rotate(0);
}
.animated .two {
  width: 50%;
  height: 70%;
  background-color: #639a9176;
  bottom: -10%;
  left: 0;
  animation: flyPlus 15s linear infinite;
}
.animated .three {
  /* border-radius: 100%;
  width: 50%;
  height: 70%;
  bottom: 20%;
  right: -20%;
  background-color: #ffca577c;
  animation: fly 15s linear infinite;
  -webkit-animation: flyPlus 10s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0); */
}
.four {
  border-radius: 100%;
  width: 50%;
  height: 60%;
  margin: auto;
  bottom: -30%;
  right: 0;
  background-color: #61b1d163;
  animation: fly 15s linear infinite;
  -webkit-animation: flyPlus 15s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0);
}
@keyframes fly {
  100% {
    transform: rotate(2turn) translate(200px) rotate(-2turn);
    -webkit-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -moz-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -ms-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -o-transform: rotate(2turn) translate(200px) rotate(-2turn);
  }
}
@keyframes flyPlus {
  100% {
    transform: rotate(-2turn) translate(200px) rotate(2turn);
    -webkit-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -moz-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -ms-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -o-transform: rotate(-2turn) translate(200px) rotate(2turn);
  }
}

.spin-loader {
  svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}
